# Feature Engineering

In [19]:
import pandas as pd

df = pd.read_csv("dataset/Preprocessed_data.csv")

In [20]:
df.head()

,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Total Spend,Last Interaction,Contract Duration (Months),Churn
0,49.0,0,47.0,16.0,4.0,6.0,1,745.58,11.0,12,0.0
1,19.0,1,58.0,12.0,0.0,18.0,0,377.00,18.0,1,1.0
2,42.0,0,41.0,16.0,4.0,14.0,0,986.25,4.0,12,0.0
3,59.0,1,16.0,3.0,3.0,5.0,1,991.28,27.0,12,1.0
4,52.0,1,44.0,12.0,4.0,17.0,2,563.00,24.0,12,1.0

In [21]:
def create_tenure_bucket(tenure):
    if tenure < 12:
        return 0
    elif tenure <= 36:
        return 1
    else:
        return 2

def calculate_support_call_intensity(support_calls, tenure):
    if tenure == 0:
        return 0
    return support_calls / tenure

def calculate_interaction_frequency(last_interaction, usage_frequency):
    return usage_frequency / (last_interaction + 1)

tenure_bucket = []
for tenure in df['Tenure']:
    if tenure < 12:
        tenure_bucket.append(0)
    elif tenure <= 36:
        tenure_bucket.append(1)
    else:
        tenure_bucket.append(2)
df['Tenure_Bucket'] = tenure_bucket

support_call_intensity = []
for i in range(len(df)):
    support_calls = df['Support Calls'].iloc[i]
    tenure = df['Tenure'].iloc[i]
    if tenure == 0:
        support_call_intensity.append(0)
    else:
        support_call_intensity.append(support_calls / tenure)
df['Support_Call_Intensity'] = support_call_intensity

interaction_frequency = []
for i in range(len(df)):
    last_interaction = df['Last Interaction'].iloc[i]
    usage_frequency = df['Usage Frequency'].iloc[i]
    interaction_frequency.append(usage_frequency / (last_interaction + 1))
df['Interaction_Frequency'] = interaction_frequency

In [22]:
df.head()

,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Total Spend,Last Interaction,Contract Duration (Months),Churn,Tenure_Bucket,Support_Call_Intensity,Interaction_Frequency
0,49.0,0,47.0,16.0,4.0,6.0,1,745.58,11.0,12,0.0,2,0.085106,1.333333
1,19.0,1,58.0,12.0,0.0,18.0,0,377.00,18.0,1,1.0,2,0.000000,0.631579
2,42.0,0,41.0,16.0,4.0,14.0,0,986.25,4.0,12,0.0,2,0.097561,3.200000
3,59.0,1,16.0,3.0,3.0,5.0,1,991.28,27.0,12,1.0,1,0.187500,0.107143
4,52.0,1,44.0,12.0,4.0,17.0,2,563.00,24.0,12,1.0,2,0.090909,0.480000

In [25]:
output_path = "dataset/Feature_Engineered_data.csv"
df.to_csv(output_path, index=False)

# Smote Oversampling

In [23]:
from imblearn.over_sampling import SMOTE
from collections import Counter

X = df.drop('Churn', axis=1)
y = df['Churn']

print(f"\nClass Distribution (Before SMOTE):")
print(y.value_counts())

smote = SMOTE(random_state=42, k_neighbors=5)
X_resampled, y_resampled = smote.fit_resample(X, y)

print(f"\nClass Distribution (After SMOTE):")
print(y_resampled.value_counts())

df_resampled = pd.DataFrame(X_resampled, columns=X.columns)
df_resampled['Churn'] = y_resampled

Class Distribution (Before SMOTE):
Churn
1.0    7000
0.0    3000
Name: count, dtype: int64

Class Distribution (After SMOTE):
Churn
0.0    7000
1.0    7000
Name: count, dtype: int64

In [ ]:
output_path = "dataset/SMOTE_Balanced_data.csv"
df_resampled.to_csv(output_path, index=False)

DATA SAVED SUCCESSFULLY